fastapi
uvicorn
pydantic
motor
opencv-python-headless
rapidocr-onnxruntime
paddlepaddle
paddleocr
pytesseract
pymupdf
python-dateutil
mrz
python-multipart
pymongo
pydantic-settings
exifread
google-genai
zxing-cpp
mediapipe
deepface
tensorflow==2.15.1
